<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Exam Topics Graph - Visualize exam topics, study times, and percentages.">
  <meta name="keywords" content="exam topics, study time, exam percentage, graph, visualization">
  <meta property="og:title" content="Exam Topics Graph">
  <meta property="og:description" content="Visualize exam topics, study times, and percentages.">
  <meta property="og:image" content="path/to/thumbnail-image.jpg">
  <link rel="icon" href="images/study-icon-name.png" type="image/x-icon" />
  <title>Exam Topics Graph</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/graph.css">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <a id="back-home" class="navbar-brand" href="#">Exam Topics Graph</a>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div id="graph">
          <div class="loading-spinner"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h5>Topic Information</h5>
          </div>
          <div class="card-body">
            <p id="topic-name"></p>
            <p id="topic-time"></p>
            <p id="topic-percentage"></p>
            <p id="topic-description"></p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-textwrap/2.0.0/d3-textwrap.min.js"></script>
  <script src="js/index.js"></script>
</body>
</html>